.dieukhoan{
    font-weight: 500;
    font-family: "Open Sans",sans-serif;
}
.sodieukhoan{
    margin-bottom: 40px;
}
.content-dieukhoan{
    text-align: center;
}
.content-dieukhoan span{
    font-weight: 300;
    font-size: 1.1rem;
}
.step-process{
    display: flex;
    justify-content: center;
    gap: 60px
}
.step-process a{
    text-decoration: none;
    color: #ad9e87;
}
.step-process li::marker{
    color: #ad9e87;
}
.lbdieukhoan{
    font-size: 3rem;
    margin-bottom: 50px;
}
.dongytatca{
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Open Sans",sans-serif;
}
.agree-all-item{
    margin-top: 50px;
    border-bottom: 1px solid black;
    padding-bottom: 43px;
    padding-left: 42px;
    font-size: 24px;
    color: #000;
}
.ckall{
    width: 24px;
    height: 24px;
    margin-top: -12px;
    border-width: 2px;
    margin-right: 10px;
}
.ckitem{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.agree-item{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(200, 199, 199);
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 43px;
}
.btn-item{
    border: none;
    background-color: white;
    font-size: 14px;
    color: #666;
    word-break: break-all;
    font-family: "Open Sans",sans-serif;
}
.temleft1{
    color: #333;
}
.batbuoc{
    color: #ad9e87;
}
.kbatbuoc{
    color: #999;
}
.itemleft{
    display: flex;
}
.confirm-bar{

    padding-left: auto;
    padding-right: auto;
    font-family: "Open Sans",sans-serif;
    box-shadow: 0 -10px 20px 0 rgba(0,0,0,0.07);
}
.btn-group{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.btn{
    padding: 20px 50px;
    border-radius: 0;
}
.prev-btn{
    color: #fff;
    background-color: #333;
    margin-right: 20px;
    margin-left: 50px;
    
}
.next-btn{
    padding: 20px 50px;
    color: #fff;
    background-color: #ad9e87;
}
.next-btn:hover{
    background-color: #89806d;
    color: #fff;
}
.txt{
    padding-top: 25px;
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
    margin-left: 350px;
}
